<div class="logue">
    <mat-card class="secion-form" >
        <mat-card-content class="contenedor">
            <div class="col-12 imagen">
                <img src="../../../../assets/perfil.png" width="80px">
            </div>
            <h2>Inicio Seccion</h2>
                <mat-form-field type="text"class=" separador full-width-input" id="usuario">
                    <input matInput placeholder="Usuario"   required>
                </mat-form-field>
                <mat-form-field type="Contraseña" class=" separador full-width-input" id="password">
                    <input matInput placeholder="password"  required>
                </mat-form-field>

                <button class="separador" color="primary" class="boton"
                 mat-raised-button>LOGIN</button>
        </mat-card-content>
    </mat-card>
</div>